* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-caps {
    text-transform: uppercase;
    text-align: right;
}

#logo {
    float: left;
    width: 100px;
    height: 100px;
}

.header-text {
    float: right;
}

.header-content {
    height: 130px;
    padding: 15px 0;
    margin: 10px;
    border-bottom: solid 5px #aaa;
}
